<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/weather.css" />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/apod">Astronomy Picture of the Day</a>
    <a href="/news">News</a>
</div>
<div class="container">
    <h1>Weather</h1>
    <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Enter city name" />
        <button type="submit">Get Weather</button>
    </form>
    ` <% if (error) { %>
        <p class="error"><%= error %></p>
    <% } else if (weather) { %>
    <div class="card">
        <!-- Add your weather data here -->
        <p>
            <i class="fas fa-thermometer-half"></i>
            <%=weather.main.temp%>&deg;F
        </p>
        <p>
            <i class="fas fa-cloud"></i>
            <%=weather.weather[0].main%>
        </p>

        <p>
            <i class="fas fa-map-marker-alt"></i>
            <%=weather.name%>, <%=weather.sys.country%>
        </p>
    </div>
    <% } %>
    <a href="/history">History</a>
</div>

</body>
</html>